/* components/Chatbot/Chatbot.module.css

.chatbotContainer {
    width: 100%;
  }
  
  .react-chatbot-kit-chat-container {
    width: 100% !important;
  }
  
  .react-chatbot-kit-chat-message-container {
    width: 100% !important;
  }
 
  .react-chatbot-kit-chat-container {
    width: 100% !important;
  } */