.chatBox {
    flex: 1;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 630px;
    margin-right: 24px;
}

.chatContainer {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.chatBubble {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px; 
}

.userBubble {
    background-color: #0A74DA;
    color: white;
    align-self: flex-end;
    margin-left: auto;
    border-bottom-right-radius: 0;
}

.operatorBubble {
    background-color: #e1f5fe;
    color: black;
    align-self: flex-start;
    border-bottom-left-radius: 0;
}

.apartmentCard {
    background-color: #f0f8ff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 90%;
    align-self: flex-start;
}

.apartmentCard:hover {
    background-color: #e6f3ff;
}

.apartmentTable {
    width: 100%;
    border-collapse: collapse;
}

.apartmentTable th, .apartmentTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.apartmentTable th {
    width: 30%;
    font-weight: bold;
    color: #0A74DA;
}

.apartmentTable a {
    color: #0A74DA;
    text-decoration: none;
}

.apartmentTable a:hover {
    text-decoration: underline;
}

.chatForm {
    display: flex;
    border: 2px solid #0A74DA;
    border-radius: 20px;
    padding: 10px;
}

.chatForm input {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.chatForm button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.chatForm button:hover {
    background-color: #f0f8ff;
}

.chatContainer::-webkit-scrollbar {
    width: 6px;
}

.chatContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.chatContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.newsCard {
    background-color: #f0fff0; /* 薄い緑色の背景 */
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    max-width: 90%;
    align-self: flex-start;
}

.newsTable {
    width: 100%;
    border-collapse: collapse;
}

.newsTable th, .newsTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.newsTable th {
    width: 30%;
    font-weight: bold;
    color: #2e8b57; /* 濃い緑色 */
}

.newsTable a {
    color: #2e8b57;
    text-decoration: none;
}

.newsTable a:hover {
    text-decoration: underline;
}